.tabs{
    color : black;
    text-emphasis-style: bold;
    background-color : white;
}

.mainDivConn{
    border: 1px; 
    border: 0.4em solid rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    padding : 10%;
    padding-top: 1%;
    margin: 20px;
}