.CardType2{
    display: flex;
    justify-content: center;
    background-color:antiquewhite;
    padding: 0.5em;
    margin: 0.2em;
    /* border: 0.1em solid black; */
    width : 100%;
}

.CardType2:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 1s;
}

.fullClass2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border-style: solid;    */
    width: 20rem;
    border-radius: 10%;
    border-radius: 6px;
    margin: 0.2em;
    padding: 0.2em;
}

.topCard2{
    display: flex;
    justify-content: space-between;
    margin: 0.2em;
}

.timeDisplay2{
    font-weight: lighter;
    font-size: 0.8em;
}

.PostTag2{
    display: flex;
    font-weight:bold;
    font-size: 0.9em;
    /* background-color: white; */
    width: 20em;
    margin: 0.3em;
}

.PostTag3{
    display: flex;
    font-weight:bold;
    font-size: 1.4em;
    /* background-color: white; */
    width: 20em;
    margin: 0.3em;
}